<section class="about-me">
<div class = "portfolio-about">
<h1 class="portfolio__heading portfolio__heading--about">{ {{title}} }.</h1>
<p class="portfolio__subheading portfolio__subheading--about">{ Developer and Innovator}.</p>
<div class = "about-me__body">
    <p>
        <strong class="title-paragraph">Kunwar Surya Partap</strong> is a senior year student persuing Computer programming<br> at Gerogian College. He is from Barara, Ambala, Haryana (India).
         Some of his hobbies<br> are Exercising, Travelling, Interacting with people. Kunwar Surya is fueled with his passion<br> towards coding. He worked on plenty of projects using his knowledge of Java, C#, HTML,<br> Javascript, and CSS. 
    </p>
</div>
<img src="./images/image10.jpg" alt="image of Kunwar surtya Partap " class="about-image">
</div> 
</section>