<section class="about-me">
<h2 class="portfolio__heading portfolio__heading--about">{{title}}</h2>
<p class="portfolio__subheading portfolio__subheading--about">The is the about me page</p>
<img src="./images/image2.jpg" alt="">
</section>