<section class="about-me">
<div class = "portfolio-about">
<h2 class="portfolio__heading portfolio__heading--about">{ {{title}} }.</h2>
<p class="portfolio__subheading portfolio__subheading--about">The is the about me page</p>
<img src="./images/image2.jpg" alt="image of Kunwar surtya Partap in GYM" class="about-image">
</div>  
</section>