<section class = "introduction">
<div class="portfolio-intro">
<h1 class = "portfolio__heading portfolio__heading--introduction">Hi, I am <strong>{{title}}</strong></h1>
<p class = " portfolio__subheading portfolio__subheading--introduction"> {Senior year developer.}</Senior></p>
<img src="./images/image1.jpg" alt="Image of Kunwar Surya" class="introduction__image">
<button class="introduction__button" onclick="location.href='/about'">About Me</button>
</div>
</section>

