<section class = "introduction">
<h1 class = "portfolio-intro-title">Hi, I am <strong>{{title}}</strong></h1>
<p class = " portfolio-intro-subtitle"> A Senior year developer.</p>
<img src="../public/images/image1.jpg" alt="Image of Kunwar">
</section>
