<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- link to CSS --}}
    <link rel='stylesheet' href='/public/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    {{{body}}}
    {{!-- link to Javascript file --}}
    <script src="/public/javascripts/bootstrap.min.js"></script> 
  </body>
</html>
