<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- this will the make the logo on the  --}}
  <link rel="shortcut icon" type="image/x-icon" href="/images/myAvatar.png" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/all.css' />
  {{!-- link to CSS --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  {{!-- this is the google font link--}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>

<body>
<header>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  {{!-- This will be the brand logo which is have made from online avatar generator --}}
  <a class="navbar-brand" href="/">
  <img src="../images/myAvatar.png" alt="My avatar" class="avatar"></a>
  
  <!-- Links to the pages  -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/about">About me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
  </ul>
</nav>
</header>

<div class ="background-image">

  
</div>

{{{body}}}


   

  
  <footer class="border-top footer text-muted">
        {{!-- this code is depicted from https://codepen.io/scanfcode/pen/MEZPNd website.
        this code is for a footer and a copyright text with the font icon that is have used from fontawesome.com and all the code was not for this website I have modified it and and add a little CSS is this --}}
        <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Project Made by <strong>Kunwar Surya Partap</strong> 
         
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-media">
              <li><a class="facebook" href="https://www.facebook.com/kunwarsurya.katoch"><i class="fab fa-facebook"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/accounts/onetap/?next=%2F"><i class="fab fa-instagram"></i></a></li>
              <li><a class="github" href="https://github.com/Kunwar07-thepro"><i class="fab fa-github"></i></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/kunwar-surya-partap-382535193/"><i class="fab fa-linkedin-in"></i></li> 
              <li><a class="mail" href="mailto:suryapartap.katoch3578@gmail.com"><i class="fas fa-mail-bulk"></i></li> 
           
            </ul>
          </div>
        </div>
      </div>
      {{!-- <div class="container">
          <div class="text">
            <

          </div>
          

        </div> --}}
    </footer>
  {{!-- link to Javascript file --}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="/javascripts/all.js"></script>
</body>

</html>