<section class = "my-projects">
    <h1 class = "portfolio__heading portfolio__heading--projects"> { Some of my {{title}} }.</h1>
    <div class = "projects">
        <div class = "project">
            <h3>
             Java - A Covid Tracker 
            </h3>
            <p>
                I have worked on a program which will track the live cases of Covid-19 through out the world. We can search the country for their live covid cases. I have used an API for this purpose.
            </p>
            <div class="fader">
            <img src="./images/image3.jpeg" alt=" java image" class="project-images">
            <button class="project__button" onclick="location.href='https://github.com/Kunwar07-thepro/CovidTracker'">GitHub Link</button>
            </div>

        </div>
        <div class = "project">
            <h3>
            C# - HotBooks
            </h3>
            <p>
                I have work on a website which is for for booking hotels. In this website I have used a bunch of languages.
            </p>
            <div class="fader">
            <img src="./images/image4.png" alt="c# image" class="project-images">
            <button class="project__button" onclick="location.href='https://github.com/Kunwar07-thepro/HotBooks'">GitHub Link</button>
            </div>

        </div>
        <div class = "project">
            <h3>
            Java - SmartPhone Sales
            </h3>
            <p>
                I have also worked on a java based program which show the smartphone companies shares and their sales on table view and on a chart view.
            </p>
            <div class="fader">
            <img src="./images/image3.jpeg" alt=" java image" class="project-images">
            <button class="project__button" onclick="location.href='https://github.com/Kunwar07-thepro/SmartPhoneSales'">GitHub Link</button>
            </div>
        

        </div>
    </div>
</section>