<section class = "my-projects">
    <h2 class = "project-titles"> Some of my {{title}}</h2>
    <div class = "projects">
        <div class = "project">
            <h2>
             Java - A Covid Tracker 
            </h2>
            <p>
                I have worked on a program which will track the live cases of Covid-19 through out the world. We can search the country for their live covid cases. I have used an API for this purpose.
            </p>

        </div>
        <div class = "project">
            <h2>
            C# - HotBooks
            </h2>
            <p>
                I have work on a website which is for for booking hotels. In this website I have used a bunch of languages.
            </p>

        </div>
        <div class = "project">
            <h2>
            Java - SmartPhone Sales
            </h2>
            <p>
                I have also worked on a java based program which show the smartphone companies shares and their sales on table view and on a chart view.
            </p>

        </div>
    </div>
</section>