

:root{
  --ff-primary: 'Lobster', cursive;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-nor:300;
  --fw-bold:700;

  --clr-nor: #fff;
  --clr-dark: #303030;
  --clr-custom: linear-gradient(#ffaaa9,#91a3fb);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1rem;
  --fs-body: 0.3rem;
  --bs: 0.25em 0.25em 0.75em  rgba(0, 0, 0, 0.30), 0.25em 0.25em 0.75em  rgba(0, 0, 0, 0.30);


  
  
}
@media (min-width: 800px){
  :root{
  --fs-h1: 4.5rem;
  --fs-h2: 3.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  }
}
body {
  background: var(--clr-nor);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 2.0;
  /* padding: 0px;  
  border-radius : 4px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  backdrop-filter: blur(10px); */
}
section{
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right:5em;
}
nav{
  background-color: linear-gradient(from 20px 20px to 500px 500px,#ffcccb,#d1d9ff);
  
}
/* this code is depicted from https://fossheim.io/writing/posts/css-text-gradient/ */
strong{
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #e66b6bac,#4e55e4);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.title-heading{
  
   
    display: block;

}
/* footer section */
.footer {
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: var(--clr-dark);
  color: black;
  text-align: left;
}
.copyright-text{
  padding-top: 0.75em;
}
.social-media
  {
    text-align:center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.5em;
    padding-top: 0.25em;
    
  }
  .social-media li{
    display: inline-block;
    margin-bottom:4px;
  }
  

  .social-media a{
    
    color:#818a91;
    opacity: 0.4;
    transition: 0.75 ease;
    
    
    border-radius:100%;
  }
  .facebook:hover{
    opacity: 1;
    
    

  }
  .instagram:hover{
    opacity: 1;
    

  }
  .linkedin:hover{
    opacity: 1;
    

  }
  .github:hover{
    opacity: 1;
    

  }
  .mail:hover{
    opacity: 1;
    

  }
  
/* end of footer section */
img{
  display: block;
  max-width: 100%;
}
h1,h2,h3{
  line-height: 1;
  margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
.portfolio__heading {
  margin-bottom: .25em;
}

.portfolio__heading--introduction {
  font-weight: var(--fw-nor);
}

.portfolio__subheading {
  margin: 0;
  font-size: var(--fs-h3);
}

.portfolio__subheading--introduction,
.portfolio__subheading--about {
  background: var(--clr-custom);
  border-radius: 10px;
  padding: 0.75em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
@media (min-width:800px) {
  
  
  .introduction {
    
  /* background: var(--clr-dark);
  
  background-image: url(../images/image8.jpg);
  background-repeat: no-repeat;
  height: 100%;
  margin-bottom: 0%;
  background-size: cover;
  text-align: center;
  background-blend-mode: multiply; */
  color: var(--clr-nor);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/image8.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
    
   
}
.portfolio-intro{
  padding-top: 5em; 
    
    
   display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
        "img title"
        "img subtitle"
        "img button";
    grid-template-columns: min-content max-content;
}

.introduction__image {
        grid-area: img;
        min-width: 400px;
        position: relative;
        z-index: 2;
        box-shadow: var(--bs);
        border-radius: 10px;
}  
.portfolio__subheading--introduction {
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  color: #303030;
  left:-4em;
  width: calc(100% + 4em);

} 
.introduction__button{
  grid-area: button;
  background : linear-gradient(#91a3fb,#ffaaa9);;
  font-size: var(--fs-h3);
  border-radius: 10px;
  grid-column: -2/2;
  margin-bottom: 1em;
  color: black;
  /* box-shadow: var(--bs); */
  
  opacity: 0.7;
  transition: .75s ease;
  

} 
.introduction__button:hover{
  grid-area: button;
  background : var(--clr-custom);
  font-size: var(--fs-h3);
  border-radius: 10px;
  grid-column: -2/2;
  margin-bottom: 1em;
  color: black;
  /* box-shadow: var(--bs); */
  opacity: 1;
  transition: 0.75s ease;

}
}
/* Projects section */
.my-projects{
  /* background: var(--clr-dark);
  
  background-image: url(../images/image6.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  
  background-blend-mode: multiply; */
  color: var(--clr-nor);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/image6.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
  text-align: center;
  

}
.portfolio__heading--projects{
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #e66b6bac,#4e55e4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.projects{
  display: flex;
  margin-right: 6em;
}
.project{
  padding: 2em;
  padding-top: 4em;
}

.fader{
  position: relative;
  

}
.project-images{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 1;
  transition: 0.75s;
  
}
.project__button{
  background : var(--clr-custom);
  font-size: var(--fs-h3);
  
  border-radius: 10px;
  position: absolute;
  
  margin-top: -112px;
  margin-bottom: -112px;
  margin-left: -58px;
  
  opacity: 0;
  transition: 0.75s;

}
.fader:hover .project-images{
  opacity: 0.3;
}
.fader:hover .project__button{
  opacity: .75;
}

/* about section */
.about-me{
  /* display: block;
  
  background: black;
  color: var(--clr-nor);
  background-image: url(../images/image10.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
  
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/image6.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
  
  
  /* height: 100%;
  margin-bottom: 0%; */
  /* background-size: cover; */
  /* text-align: center;
  background-blend-mode: lighten; */
}
.portfolio__heading--about{
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #e66b6bac,#4e55e4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.about-image{
  width: 300px;
  height: 400px;

}
@media (min-width:800px) {
.portfolio-about{
  padding-top: 5em;
  display:grid;
  padding:1em;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
    grid-column-gap: 1em;
    
    grid-template-areas: 
        "title title"
        "img subtitle"
        "img paragraph";
    grid-template-columns: min-content max-content;
    


}
.portfolio__subheading--about{
  grid-area: subtitle;
  text-align: center;
  
  
}
.portfolio__heading--about{
  grid-area: title;
  text-align: center;
  padding-bottom: 1.25em;
}
.about-image{
  grid-area: img;
  min-width: 400px;
  position: relative;
  z-index: 2;
  box-shadow: var(--bs);
  border-radius: 10px;
}
.about-me__body{
  grid-area: paragraph;
  font-size: var(--fs-body);
  color: white;
  padding-bottom:  4em;
}
.title-paragraph{
  
  font-size: var(--fs-h3);
}

}
/* contact me section */
.contact-me{
  color: var(--clr-nor);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/image8.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
  text-align: center;
}
.container-contact{
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  box-shadow: var(--bs) ;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.group{
  width: 100%;
  margin-top:20px;

}
.group input,
.group textarea{
  width:70%;
  padding: 5px;
  font-size: 18px;
  border-bottom: 1px solid linear-gradient(#ffaaa9,#91a3fb);
}
textarea{
  resize: vertical;
}
button[type="submit"]{
  width:70%;
  grid-area: button;
  background : linear-gradient(#91a3fb,#ffaaa9);;
  font-size: var(--fs-h3);
  border-radius: 10px;
  color: black;
  opacity: 0.7;
  transition: .75s ease;

}
button[type="submit"]:hover{
  background : var(--clr-custom);
  font-size: var(--fs-h3);
  border-radius: 10px;
  color: black;
  opacity: 1;
  transition: 0.75s ease;
}
.portfolio__heading-contact{
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #e66b6bac,#4e55e4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
/* Avatar section */
.avatar{
  width: 2em;
  opacity: 0.5;
  transition: 0.75s ease;
}
.avatar:hover{
  opacity: 1;
  transition: 0.75s ease;
}

